In [28]:
import pandas as pd 
import matplotlib.pyplot as plt

import numpy as np
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from argopy import DataFetcher as ArgoDataFetcher

argo_loader = ArgoDataFetcher()

ds = argo_loader.float([6902746, 6902747, 6902757, 6902766]).to_xarray()
df = ds.to_dataframe()


df.dropna()
df['YEAR'] = pd.DatetimeIndex(df['TIME']).year
df.rename(columns={'PRES': 'PRESSURE', 'PSAL': 'SALINITY','TEMP':'TEMPERATURE'})
df.to_csv('task1_data.csv',index=False)

In [29]:
data = pd.read_csv('task1_data.csv')
data

,CONFIG_MISSION_NUMBER,CYCLE_NUMBER,DATA_MODE,DIRECTION,PLATFORM_NUMBER,POSITION_QC,PRES,PRES_QC,PSAL,PSAL_QC,TEMP,TEMP_QC,TIME_QC,LATITUDE,LONGITUDE,TIME,YEAR
0,1,1,D,D,6902766,1,12.2,1,37.383,1,24.381,1,1,20.329658,-49.45345,2017-03-28 11:55:00,2017
1,1,1,D,D,6902766,1,17.0,1,37.383,1,24.376,1,1,20.329658,-49.45345,2017-03-28 11:55:00,2017
2,1,1,D,D,6902766,1,22.2,1,37.383,1,24.376,1,1,20.329658,-49.45345,2017-03-28 11:55:00,2017
3,1,1,D,D,6902766,1,27.0,1,37.383,1,24.376,1,1,20.329658,-49.45345,2017-03-28 11:55:00,2017
4,1,1,D,D,6902766,1,31.7,1,37.383,1,24.376,1,1,20.329658,-49.45345,2017-03-28 11:55:00,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149422,2,130,R,A,6902747,1,1888.0,1,35.012,1,3.822,1,1,3.294000,-35.21500,2021-06-12 18:05:00,2021
149423,2,130,R,A,6902747,1,1913.0,1,35.011,1,3.793,1,1,3.294000,-35.21500,2021-06-12 18:05:00,2021
149424,2,130,R,A,6902747,1,1938.0,1,35.009,1,3.754,1,1,3.294000,-35.21500,2021-06-12 18:05:00,2021
149425,2,130,R,A,6902747,1,1964.0,1,35.007,1,3.689,1,1,3.294000,-35.21500,2021-06-12 18:05:00,2021
149426,2,130,R,A,6902747,1,1978.0,1,35.007,1,3.667,1,1,3.294000,-35.21500,2021-06-12 18:05:00,2021

In [32]:
# Make a dropdown to select the Year, or "All"
year = widgets.Dropdown(
    options=['All'] + list(data['YEAR'].unique()),
    value='All',
    description='Year:',
)

def plotit(year):
    df2 = data.copy()
    if year != 'All':
            df2 = df2[df2.YEAR == year]
            
    if len(df2) > 0:
        plt.scatter(df2['LATITUDE'], df2['LONGITUDE'], c=df2['TEMPERATURE'])
        plt.grid()
        plt.colorbar()
        plt.xlabel("Latitude")
        plt.ylabel("Longitude")
        plt.title("Scatter plot for position of ARGO flot data for {}".format(year))
        plt.show();
    else:
        print("No data to show for current selection")

In [33]:
interactive(plotit, year=year)

interactive(children=(Dropdown(description='Year:', options=('All', 2017, 2018, 2019, 2020, 2021), value='All'…